<div class='row'>
<h3>Users</h3>
</div>

<div class='row'>

<table class='table'>

  <% @users.each do |user| %>
    <tr>
    	<td><%= user.email %></td>
    	<td><%= user.created_at.to_date %></td>
    </tr>
  <% end %>
</table>
</div>
