<div class='row'>
<h2>edit car</h2>

<%= render 'form' %>
<%= render 'attached_assets' %>

<%= link_to 'Show', @car, data: {no_turbolink: true} %> |
<%= link_to 'Back', cars_path, data: {no_turbolink: true} %>
</div>
