<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>

<body>
<h3>Offer ACCEPTED</h3>
<div>Congratulations!  Your offer of <%= number_to_currency(@offer.amount) %> for the <%= "#{@car.year} #{@car.make} #{@car.model}" %> was accepted.</div>
<div>You may stop over our delearship and your offer will be honored for the next 3 days.</div>
<div>NOTE: By accepting your offer we promise to honor this price once you inspect the vehicle, this does not mean we will hold the vehicle for you.</div>
<div>We are looking forward to seeing you.</div>
<div>Thank you!</div>
</body>
</html>